
  #prods {
    padding: 40px 200px;
    background-color: #fff;
    width: 100%;
    min-height: 47.8vh;
  }
  
  #prods .prods {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    gap: 40px;
    justify-content: flex-start;
    padding-bottom: 50px;
  }

  #prods .prods .res{
    font-size: 2.3rem;
    color: #000;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 5%;
    text-transform: uppercase;
  }
  
  #prods .prods .prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px; 
  } 
  
  .prod:hover .btn {
    display: block;
  }
  
  #prods .prods .prod .prod-1-top {
    position: relative;
    text-align: center;
    padding: 40px;
    background: #F5F5F5;
    border-radius: 4px;
    width: 100%;
    height: 250px;
  }
  
  #prods .prods .prod .prod-1-top .main{
    max-width: 100%;
  }
  
  #prods .prods .prod .prod-1-top .icons{
    display: flex;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;
    flex-direction: column;
    gap: 15px;
  }
  
  #prods .prods .prod .prod-1-top span{
    position: absolute;
    z-index: 1;
    top: 10px;
    padding: 5px;
    left: 10px;
    border-radius: 4px;
    color: #FAFAFA;
    background: #00FF66;
  }
  #prods .prods .prod .prod-1-top .off{
    background-color: #DB4444;
  }
  
  #prods .prods .prod .prod-1-top .like,
  #prods .prods .prod .prod-1-top .view {
    padding: 5px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s ease;
  }

  #prods .prods .prod .prod-1-top .like.liked{
    background-color: #f00;
  }
  
  #prods .prods .prod .prod-1-top  .like:hover{
    background-color: #f00;
  }
  
  #prods .prods .prod .prod-1-top .view:hover{
    background-color: #00f;
  }
  .prod .btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000;
    color: #FFFFFF;
    left: 0;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: center;
    padding: 10px 0;
    display: none;
    cursor: pointer;
    transition:0.3s ease;
  
  }
  
  #prods .prods .prod .prod-1-btm {
    padding-top: 10px;
    text-align: left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 140px;
    margin-top: 10px;
    padding: 0;
    
  }
  
  #prods .prods .prod .prod-1-btm p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  
  #prods .prods .prod .cost {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  #prods .prods .prod .cost span {
    font-size: 18px;
    font-weight: bold;
    color: #DB4444;
  }

  #prods .prods .prod .cost .disc{
    color: #777;
    text-decoration: line-through;
    margin-left: 10px;
  }
  
  #prods .prods .prod .cost .rating {
    display: flex;
  }
  
  #prods .prods .prod .cost .rating img {
    width: 16px;
    margin-right: 2px;
  }
  
  #prods .prods .prod .cost .rating p {
    margin: 0;
    font-size: 14px;
    color: #777;
    margin-left: 10px;
  }
  
  #prods .prods .prod .color {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    position: absolute;
    z-index: 1;
    bottom: 0;
  }
  
  #prods .prods .prod .color div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  
  #prods .prods .prod .color div:hover{
    border: 1.5px solid #000;
  }
  
  #prods .prods .prod .color .red {
    background: #FB1314;
  }
  
  #prods .prods .prod .color .blue {
    background: #DB4444;
  }
  
  #prods .prods .prod .color .yellow {
    background: #EEFF61;
  }
  
  #prods .prods .prod .color .black {
    background-color: #000;
  }
  
  #prods .prods .prod .color .green {
    background: #184A48;
  }
  
  #prods  .prod-1-btm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  #prods  .prod-1-btm a{
    text-decoration: none;
    color: #FAFAFA;
    background: #DB4444;
    font-size: 1.5rem;
    border-radius: 4px;
    padding: 20px 50px;
  }
  