
/* Gaming section styling */
#gaming {
  padding: 40px 200px;
  font-size: 14px;
}

#gaming .gaming {
  width: 100%;
  
}

#gaming .gaming .bar p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 20px;
}

#gaming .gaming .bar p span {
  color: #000;
  font-weight: bold;
}

#gaming .gaming .gamepad {
  display: flex;
  margin-top: 70px ;
  width: 100%;
  align-items: stretch;
}
#gaming .gaming .gamepad .left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  border-radius: 4px;
}

#gaming .gaming .gamepad .left img {
  max-width: 100%;
}

#gaming .gaming .gamepad .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 70px;
}

#gaming .gaming .gamepad .right h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 400;
}

#gaming .gaming .gamepad .right .rate {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#gaming .gaming .gamepad .right .rate .star img {
  width: 20px;
  margin-right: 5px;
}

#gaming .gaming .gamepad .right .rate p {
  color: #666;
  font-size: 0.9rem;
  margin: 0 10px;
}

#gaming .gaming .gamepad .right .rate span{
  color: #00FF66;
}

#gaming .gaming .gamepad .right h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}

#gaming .gaming .gamepad .right p {
  line-height: 1.3;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

#gaming .gaming .gamepad .right hr {
  margin-bottom: 20px;
}

#gaming .gaming .gamepad .right .colr {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#gaming .gaming .gamepad .right .colr h4 {
  margin-right: 10px;
  font-size: 1.5rem;
  font-weight: 200;
}

#gaming .gaming .gamepad .right .colr .colr-1, .colr .colr-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

#gaming .gaming .gamepad .right .colr .colr-1:hover, .colr .colr-2:hover{
  border: 2px solid #000000;
} 

#gaming .gaming .gamepad .right .colr .colr-1 {
  background: #A0BCE0;
}

#gaming .gaming .gamepad .right .colr .colr-2 {
  background: #E07575;
}

#gaming .gaming .gamepad .right .features{
  width: 100%;
  border: 1px solid #00000080;
}

#gaming .gaming .gamepad .right .features hr{
  margin: 0;
}

#gaming .gaming .gamepad .right .features .fe-1, .features .fe-2 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}



#gaming .gaming .gamepad .right .features .fe-1 .lt img, .features .fe-2 .lt img {
  width: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gaming .gaming .gamepad .right .features .fe-1 .rt,
#gaming .gaming .gamepad .right .features .fe-2 .rt{
  display: flex;
  flex-direction: column;
  padding: 5px;
} 

#gaming .gaming .gamepad .right .features .fe-1 .rt h5, 
#gaming .gaming .gamepad .right .features .fe-2 .rt h5 {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

#gaming .gaming .gamepad .right .features .fe-1 .rt p, 
#gaming .gaming .gamepad .right .features .fe-2 .rt p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

/* Items */
.re-items-sec{
  width: 100%;
  margin-top: 100px;
}
.re-items-sec .head{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.re-items-sec .head .red{
  width: 20px;
  height: 40px;
  background: #DB4444;
  border-radius: 4px;
  margin-right: 20px;
}

.re-items-sec .head h3{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #DB4444;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  gap: 40px;
  justify-content: center;
  padding-bottom: 50px;
  height: auto;
}

.items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px; 
} 

.items .item:hover .btn {
  display: block;
}
.items .item .item-1-top {
  position: relative;
  text-align: center;
  padding: 40px;
  align-items: center;
  background: #F5F5F5;
  border-radius: 4px;
  width: 100%;
  height: 200px;
}

.items .item .item-1-top .main{
  max-width: 100%;
}

.items .item .item-1-top .icons{
  display: flex;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  flex-direction: column;
  gap: 15px;
}

.items .item .item-1-top span{
  position: absolute;
  z-index: 1;
  top: 10px;
  padding: 5px;
  left: 10px;
  border-radius: 4px;
  color: #FAFAFA;
  background: #DB4444;
}

.items .item .item-1-top .like,
.items .item .item-1-top .view {
  padding: 5px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

.items .item .item-1-top .like.liked{
  background-color: #f00;
}

.items .item .item-1-top .like:hover{
  background-color: #f00;
}

.items .item .item-1-top .view:hover{
  background-color: #00f;
}
.items .item .btn{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #FFFFFF;
  left: 0;
  font-size: 1.3rem;
  font-weight: 500;
  align-items: center;
  padding: 10px 0;
  display: none;
  cursor: pointer;
  transition:0.3s ease;

}

.items .item .item-1-btm {
  padding-top: 10px;
  text-align: left;
  position: relative;
  height: 100px;
}

.items .item .item-1-btm p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.items .item .item-1-btm .cost {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.items .item .item-1-btm .cost {
  display: flex;
  gap: 20px;
}

.items .item .item-1-btm .cost span {
  font-size: 18px;
  font-weight: 500;
  color: #DB4444;
}

.items .item .item-1-btm .cost .disc{
  color: #666;
  font-weight: 400px;
  margin-left: 10px;
  text-decoration: line-through;
}


.items .item .item-1-btm .cost .rating {
  display: flex;
}

.items .item .item-1-btm .cost .rating img {
  width: 16px;
  margin-right: 2px;
}

.items .item .item-1-btm .cost p {
  margin: 0;
  font-size: 14px;
  margin-left: 10px;
  color: #777;
}

